body, html {
width:99.6%;
height:100%;
background-image: url(images/background.jpg); 
 background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
background-size: cover;
}
#wrap {
float:left;
width:100%;
height:100%;

}
#header{
float:left;
width:99.5%;
height:12%;
}
#header img{
font-family:verdana;
margin:-0.3% 40%;
}

#header h1{
font-family:Brush Script MT;
font-size:45px;
text-align:center;
margin:-5% 0%;
}

#header2{
float:left;
width:99.5%;
height:7%;
border-bottom: 5px solid #9C5E21;

}
#header2 h1{
text-align:center;
width:100%;

height:100%;
font-family:verdana;
font-size:27px; 
}
#navbar {
    width:99.5%;
    float:left;
    background-color: #BA7938;
    overflow: hidden;
    border: 5px solid #9C5E21;
}

/* Style the links inside the navigation bar */
#navbar a {  
width:31.6%;

min-width:31%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:verdana;
}

/* Change the color of links on hover */
#navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
#navbar a.active {
    background-color: #9C5E21;
    color: white;
}
#k18{
float:left;
width:99.5%;
height:5%;
border-bottom: 5px solid #9C5E21;
}
#k18 h2{
text-align:center;
color:gray;
width:100%;
height:100%;
font-family:verdana;
font-size:15px; 
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -15px;
  float:left;
  width:61%;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
 background-image: url(images/background.jpg);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
background-size: cover;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;

}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
  
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  
  }
  
a:visited {
text-decoration:none;
color:green;
}  



.btn:hover {
  background-color: #267c31;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
body, html {
width:800px;
height:auto;
background-image: url(images/background.jpg); 
 background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
background-size: cover;
}
#wrap {
float:left;
width:800px;
height:auto;

}
#header img{
width:80px;
height:80px;
float:left;
margin:0 400px;
}

#header h1{
display:none;
}  
#header2 {
width:800px;
}
#header2 h1{
text-align:center;
}

/* Style the links inside the navigation bar */
#navbar a {  
float: none;
width: 100%;
}

#k18{

}
#k18 h2{

}

.shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
    float:left;
    flex-direction: column-reverse;
    display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
    }
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
.shopping-cart {
  width: 750px;
  height: auto;
  margin: 10px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  float:left;
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
}
.buttons {
float:left;
  padding-top: 30px;
  margin-right: 60px;
}

.image {
  margin-right: 50px;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
