@model WebFormApplication2.Models.PersonData

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>PersonData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="Create" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback" class="control-label"></label>
                <!--<input asp-for="Feedback" class="form-control" /> -->
                @Html.TextAreaFor(model => model.Feedback, 10, 30, htmlAttributes: new {style="width: 100%; max-width: 100%;"})
                <span asp-validation-for="Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="btnsubmit" type="submit" value="Create" class="btn btn-primary" onClick="ready()"/>
                    <script type="text/javascript">
                        function ready() {
                        $(document).ready(function () {
                            $("#btnsubmit").click(function (e) {
                                //Serialize the form datas.
                                var valdata = $("#Create").serialize();
                                //to get alert popup
                                alert(valdata);
                                $.ajax({
                                    url: "./PersonDatas/Create",
                                    type: "POST",
                                    dataType: 'json',
                                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                    data: valdata
                                });
                            });
                        });
                        };

                    </script>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
